Repository neo4j/sdn-rx, pull requests merged in 2020-04, with the labels that each got.

#176 Fix handling of nested compound conditions with different operators.
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/cypher/CompoundCondition.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/core/cypher/CypherIT.java
Labels: Cypher DSL, bug

#178 Expose properties() on relationship chains.
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/cypher/Relationship.java
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/cypher/RelationshipChain.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/core/cypher/CypherIT.java
Labels: Cypher DSL, missing-feature

#183 Provide size(Relationship).
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/cypher/FunctionInvocation.java
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/cypher/Functions.java
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/cypher/RelationshipDetail.java
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/cypher/renderer/RenderingVisitor.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/core/cypher/CypherIT.java
Labels: Cypher DSL, missing-feature

#205 GH-204 - RelationshipChain.max(...) is calling min(...)
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/cypher/RelationshipChain.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/core/cypher/CypherIT.java
Labels: Cypher DSL, bug

#223 Add support for dynamic one-to-many relationships.
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/mapping/DefaultNeo4jConverter.java
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/mapping/DefaultNeo4jPersistentEntity.java
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/mapping/DefaultNeo4jPersistentProperty.java
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/mapping/Neo4jPersistentProperty.java
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/support/Relationships.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/core/mapping/DefaultNeo4jPersistentEntityTest.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/core/mapping/Neo4jMappingContextTest.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/integration/imperative/DynamicRelationshipsIT.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/integration/reactive/ReactiveDynamicRelationshipsIT.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/integration/shared/DynamicRelationshipsITBase.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/integration/shared/Person.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/integration/shared/PersonWithRelatives.java
Labels: enhancement

#234 Exclude associations filled by constructor from property based handling.
  spring-data-neo4j-rx/src/main/java/org/neo4j/springframework/data/core/mapping/DefaultNeo4jConverter.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/integration/imperative/RelationshipsAsConstructorParametersIT.java
  spring-data-neo4j-rx/src/test/java/org/neo4j/springframework/data/integration/shared/RelationshipsAsConstructorParametersEntities.java
Labels: bug
